<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Test3</servlet-name>
		<servlet-class>com.example.test3.Test3Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test3</servlet-name>
		<url-pattern>/test3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>com.example.test3.Upload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>UpdateDB</servlet-name>
		<servlet-class>com.example.test3.UpdateDB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateDB</servlet-name>
		<url-pattern>/updatedb</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Likee</servlet-name>
		<servlet-class>com.example.test3.Likee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Likee</servlet-name>
		<url-pattern>/like</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Update</servlet-name>
		<servlet-class>com.example.test3.Update</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Serve</servlet-name>
		<servlet-class>com.example.test3.Serve</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Serve</servlet-name>
		<url-pattern>/serve</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>com.example.test3.Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateProfile</servlet-name>
		<servlet-class>com.example.test3.UpdateProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateProfile</servlet-name>
		<url-pattern>/updateprofile</url-pattern>
	</servlet-mapping><servlet>
       <servlet-name>guestbook</servlet-name>
      <servlet-class>com.example.test3.GuestbookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>guestbook</servlet-name>
      <url-pattern>/guestbook</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>gallery.jsp</welcome-file>
	</welcome-file-list>
	<!-- [START Objectify] -->
    <filter>
      <filter-name>ObjectifyFilter</filter-name>
      <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
      <filter-name>ObjectifyFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
      <listener-class>com.example.test3.OfyHelper</listener-class>
    </listener>
<!-- [END Objectify] -->
</web-app>
